html, body {
    height: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 60px;
}

/* for react-d3-components */
.tooltip {
	padding: 3px;
	border: 2px solid;
	border-radius: 4px;
	background-color: #eee;
	opacity: 0.6;
	justify-content: center;
	align-items: center;
}